<%- include('../includes/head.ejs') %>
<link href="/css/order.css" rel="stylesheet" />
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main>
            <div class="orders_main">
            <div class="orders">
            <%if(!orders||orders.length==0){%>
                <h2> no order is made yet !</h2>
            <%}%>
            <%if(orders.length>0){%>
                <%orders.forEach(order=>{%>
                  <div class="order">
                    <div class="order_header">
                        <h4 class="order_number">order: <%=orders.indexOf(order)+1%></h4>
                        <h4 class="order_data">Ordered At: <%=order.formatedDate%></h4>
                    </div>
                    
                    <div class="order_products">
                        <div class="order_products_header">
                            <h4 class="header_title">title</h4>
                            <h4 class="header_price">price</h4>
                            <h4 class="header_quantity"> quantity </h4>
                        </div>
                    <%order.products.forEach(product=>{%>
                         <div class="order_products_detail">
                            <p class="header_title"><%=product.title%></p>
                            <p class="header_price"><%=product.price%></p>
                            <p class="heaer_quantity"> <%=product.qty%> </p>
                        </div>
                        <%})%>
                        <h4 class="order_total_price"> Order price : <%=order.orderPrice%>$</h4>
                    </div>
                  </div>
               <%})%>
               <%}%>
             
            </div>
              <h2>total price : <%=totalPrice%>$</h2>
        </div>

        </main>
        <%- include('../includes/end.ejs') %>