<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/product.css">
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>

            <main>
                <div class="pagesNum"><%=pages%> <p class="pageNumber"><%=pageNumber%></p><p class="linkpath"><%=linkPath%></p></div>
                <% if (prods.length > 0) { 
                     %>
                    <div class="grid">
                        <% for (let product of prods) { 
                            const url =  product.imageUrl%>
                            <article class="card product-item">
                                <header class="card__header">
                                    <h1 class="product__title">
                                        <%= product.title %>
                                    </h1>
                                </header>
                                <div class="card__image">
                                    <img src="<%= product.imgUrl %>" alt="<%= product.title %>">
                                </div>
                                <div class="card__content">
                                    <h2 class="product__price">$
                                        <%= product.price %>
                                    </h2>
                                    <p class="product__description">
                                        <%= product.description %>
                                    </p>
                                </div>
                                <div class="card__actions">
                                    <a href="/products/<%=product.id%>" class="btn">Detail</a>
                                    <!-- <a href="/products?id=<%=product.id%>" class="btn">Detail</a> -->
                                    <% if(authentication){%>
                                    <%- include('../includes/addToCart.ejs',{product:product})%>
                                    <%}%>
                                </div>
                                
              
                            </article>
                            <% } %>
                    </div>
                    <section class="pagination"></section>
                    <% } else { %>
                        <h1>No Products Found!</h1>
                        <% } %>
            </main>
            <%- include('../includes/end.ejs') %>