<%- include('../includes/head.ejs')%>
<link href="/css/product.css" rel="stylesheet" />
<link href="/css/forms.css" rel="stylesheet" />
</head>
<body>
		<%- include('../includes/navigation.ejs')%>

		<main class="centered">
			
			<a class="back-to-prouduct" href="/products">&leftarrow; back</a>
			<div class="grid">
			<article class="card product-item">
			<h1><%= product.title%></h1>
			<div>
				<img src="<%= product.imgUrl %>" alt ="<%= product.title%>" />
			</div>
			<h2> $ <%= product.price%></h2>
			<p><%=  product.description%></p>
			<p> creater : <%=  product.owner%></p>
			<% if(authentication){%>
			<div class="inputs">
				<input type="hidden" name="productId" value="<%= product.id%>" />
				<input type="hidden" name="_csrf" value="<%=csrfToken%>"/>
				<button class="btn deleteProduct" >Delete</button>

			</div>
			
			<%- include('../includes/addToCart.ejs')%>
			<%}%>
			</article>
			</div>

        </main>
		<script src="/js/admin.js"></script>
        <%- include('../includes/end.ejs') %>
		
